<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="4.0"/>
    <httpModules>
      <add type="System.Web.SessionState.SessionStateModule" name="Session"/>
    </httpModules>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <appSettings>
    <add key="ScoresFileLocation" value="~/Scores.xml" />
    <add key="ScoresFileEncryptionKey" value="XML_ENC_RSA_KEY" />
  </appSettings>
</configuration>